# DSCI 504

## Week 4

### Assignment: Aggregates and Conditional Queries

### Student Name: SEIF KUNGULIO

<u>How to complete this assignment:</u> This Notebook has two types of cells, text, and code. Cell marked with **_Do not mark in this cell_** are not to be edited. Other text cells that require answers or typing may be edited by double-clicking on the cell and editing. Clicking off of the cell saves the text. Code cells are where you will enter in your SQL code. The results of your query will be displayed immediately beneath your code cell and are interactive. For full credit, you must write, execute, and save your code in your Notebook. The last cell of the Notebook has instructions for saving the Notebook as an html file for submission.

**_Do not mark in this cell_**

### Assignment Objective: At the end of this assignment, you will be able to conduct queries on single tables within the OPC database, to include unary table self-joins.

Scenario: You have been tasked with aggregating data on OPC sales for each year in the data...Â 

### 4.1 Question: Compute the **total number** of _orders_ and _sales_ **per year**. Save the output as a line chart. The X and Y labels should be Year and Annual Sales By Orders. Place the legend on bottom of the chart.

#### Note: This query will require a concept for date data types we have not covered yet known as EXTRACT. To EXTRACT() from a date column, use the EXTRACT function and indicate which element from the colum you want to extract. i.e. <code>EXTRACT(YEAR from date_column) AS year</code>

In [1]:
SELECT 
    EXTRACT(YEAR FROM ord_date) AS year,
    COUNT(ord_id) AS total_orders,
    SUM(order_tot) AS total_sales
FROM 
    dsci_504.orders
GROUP BY 
    EXTRACT(YEAR FROM ord_date)
ORDER BY 
    year;

year,total_orders,total_sales
2000,150,728573.98
2001,137,696021.07
2002,123,565160.48
2003,112,523462.78
2004,119,577862.23
2005,131,635804.33
2006,154,754774.44
2007,124,598244.74
2008,122,607583.88
2009,129,651427.80
2010,138,655375.09
2011,131,630545.52
2012,126,610428.02
2013,132,637818.16
2014,113,534454.30
2015,135,652318.08
2016,133,602895.41
2017,134,641076.76
2018,135,642704.33
2019,121,558094.48

### 4.2 Question: How many _returns_ does each _warehouse_ have?

In [3]:
SELECT 
    w.warehouse_name,
    COUNT(r.rac_id) AS total_returns
FROM 
    dsci_504.returns r
JOIN 
    dsci_504.warehouses w 
    ON r.warehouse_id = w.warehouse_id
GROUP BY 
    w.warehouse_name
ORDER BY 
    total_returns DESC;

warehouse_name,total_returns
Sacramento,513
Dallas,271
Columbus,240

### 4.3 Question: Bucketize _order totals_ in **three separate buckets (bins)** with the following ranges: 
#### <li> Less than 1000 = **Low** </li> <li> Less than 5000 = **Medium** </li> <li> Everything else is **High** </li> <br> Order the results by highest to lowerst _order total_.

In [ ]:
--Enter your query here

### 4.4 Question: Return the **total return amount** per _customer_ and _order_

In [ ]:
--Enter your query here

### 4.5 Count the number of _suppliers_ providing **more then 5** _components_

In [ ]:
--Enter your query here

### 4.6 Question: Find builds with more than eight(8) components.

In [ ]:
--Enter your query here

### 4.7 Question: List months with total sales below $25,000.00 between Jan 1, 2007 and Dec 31, 2012

In [ ]:
--Enter your query here

### 4.8 Question: Enter a custom query of your own choosing using an aggregate or conditional query. Replace this question with the question you wanted your query to answer.

In [ ]:
--Enter your query here

### 4.9 Question: Enter a custom query of your own choosing using an aggregate or conditional query. Replace this question with the question you wanted your query to answer.

In [ ]:
--Enter your query here

### Double-click this cell and answer the following questions in your own words:

1. Describe the data represented in the chart you created in 4.1 <br>
[Enter your answer here]

2. How could the CASE query in 4.3 be improved upon? <br>
[Enter your answer here]

3. Which build had the highest number of components in 4.6? How many componets where there? <br>
[Enter  your answer here]

4. Why did you choose the two queries your wrote? What prompted you to search for the items you searched for? <br>
[Enter your answer here]

### Save this file as html for submission.
#### <li>Change the kernel to Python and run the next cell. </li>
#### <li>Append the end of the file to include your name once saved. </li>
#### <li>Submit the generated html file in Canvas for credit and grading.</li>

In [ ]:
!jupyter nbconvert --to html DSCI504_Wk4_Assignment.ipynb