# Module 12, Lecture 12.2

## Dealing with DATE/TIME data types

Part 1: Return the number of days in February in 2016

Is 2016 a leap year?

###

Part 2: Select the sum of all payments in the dvdrental database in July 2007

What is the sum of July's payments?

###

Part 3: SELECT the number of months in the payment table where there were rentals for $10.99

How many months had payments of 10.99?

###

Part 4: Execute the same query above to find the difference in days form the first payment date and the last payment date where the payment amount was 10.99.

What was the first payment date in the range?

###   

What was the last payment date in the range?

###   

How many days in the period had payments of 10.99?

###

Part 5:

SELECT the sum of daily payments between 1 Jan 2007 and 1 April 2007. Display the payments as a line chart using ADS's built in charting tool.