# Lecture 13

## Working With Strings in PostgreSQL

Part 1: Create a table of comments to use for analysis. Execute the below cell to create the table.

In [ ]:
DROP TABLE IF EXISTS comments;

CREATE TABLE comments (
    id int
    ,rating int
    ,comment text
);

INSERT INTO comments VALUES (1,10,'The best product I have ever purchased. I don''t know what I did without this over before'),
(2,7,'Customer service assisted me with everything I needed. Wait times were a bit long, though.'),
(3,9,'I absolutely love the desk! There wrere some missing pieces, but customer service got them out to me right away.'),
(4,5,'The shipping took way too long. The chair is okay. It serves its purpose.'),
(5,3,'The item arrived broken and customer service was no help whatsoever.'),
(6,4,'Alan was extrenly helpful but the management were rude!'),
(7,7,'I shop here often because of teh selection. I like the variety. Everyone is friendly.'),
(8,2,'Joe has to be the rudest person I have ever met. I don''t know why he still works there.'),
(9,10,'You have the best selection around. Nobody compares to your deals and selection. Top notch!'),
(10,6,'I would have given 10 stars, but the product I ordered was sold out and the website did not reflect this.');

Part 2: Use the above table to separate the words and rating into individual rows.

Part 3: Create a lexicon of the words using the TS\_LEXIZE() function. be sure to properly stem the words.

Part 4: Compute the average occurrence of each word. List the occurrences by most occurring first. Note: you may need to adjust your conditional criteria to output enough variety in your tokens.

Part 5: Select the rows where the term 'best' is in the comment.

Part 6: Find all film titles with the word 'day' in them using a POSIX expression. Return the film\_id, film\_title, and releast year.

Part 7: Use a regular expression to print your last, first MI. from a string consisting of your first middle and last name.

Part 8: Write your Maryville email address as a string and separate your user name from the Maryville email domain.

Part 9: Repeat the operation above, but keep the domain instead.

Part 10: Write a string of your phone number in the format XXXXXXXXX but replace the area code with the number 9.

Part 11: Create an MD5 hash of the following strings:

  

Maryville University

Data Science

\[Your Name: First Last\]

Part 12: Concatenate your name and separate them with a tilde (~)