# Module 4, Lecture 4.4 ALTER TABLE

This practice session will give you the opportunity to alter several tables in the Univeristy database.

## Use the below data to alter the tables in the University database

```
NOTE: Be sure to use the standards discussed in Lecture 4.1. Code cells have already been inserted after each table definition
```

## Connecting to the database

Step 1: Connect to the correct database. 

- Select the PostgreSQL connection in the "Attach to" drop-down above 
- Change the database on the current connect (localhost) to the university database

## ADD COLUMN

### Step 2: Add the following columns to the appropriate tables. The correct syntax is below.

```
ALTER TABLE [table_name]
ADD COLUMN [column_name] [Data Type] [Constraint]
```

Table|Column|Data Type
:---|:---:|---:
faculty|fac_phone|12-digit string
faculty|fac_room|integer
faculty|fac_email|100-digit string
degree|deg_credits|integer NOT NULL
class|meet_room|6-digit string
program|delivery|boolean
student|stud_email|100-digit string

## DROP COLUMN

### Step 3: Drop the following columns from their respective tables. The correct syntax is below.

```
ALTER TABLE [table_name]
DROP COLUMN [column_name];
```

Column s\_start\_date

## ALTER COLUMN / DATA TYPE

### Step 4: Change the data type for the class\_status column in the class table to the BOOLEAN data type. The syntax to change the data type is below.

```
ALTER TABLE [table_name]
ALTER COLUMN [column_name] TYPE [data type];
```

You probably noticed when you ran that last cell that the database returned an error. In PostgreSQL certain data types cannot be cast as other data types. This is not a limitation of the cast() function, but a limitation of the storage attributes associated to the two different data type.

A BOOLEAN data type is stored in a 1-byte array. The values of a BOOLEAN data type in postgreSQL are 1,0, NULL/Yes,No, NULL, and TRUE, FALSE, NULL. The database will allow the use of any of the available castings of arguments as long as it can determine that there is a boolean equivalent to the casting. However, you cannot literally cast another data type to boolean. Why? Because of the amount of strage disparity between the two data types.

A VARCHAR() data type is stroed in an array that is 1-byte plus the length of the value. So if we store a 5-byte string, the storage array is 6 bytes. Since storage reequirement is over the 1 byte used for a boolean data type, we cannot cast the boolean data type in the table column.

However, thers is a workaround. This is not something that is covered in this week's lesson, but it is important to understand. This content is desinged for later in the course when we work with casting. 

To overcome the casting issue, we simply need to create a new column with the appropriate casting, set some conditions, port the data to the new column and then delete the old column. We can overcome the storage disparity in the parser by coercing the 1 byte array into the original column.

Let's take a look.

Step 1: Rename the original variable to include a name appropriate for the new data type

```
ALTER TABLE class
RENAME COLUMN class_status 
TO boolean_class_status;
```

Step 2: Create a new column to store any of the original values so that we can make a comparison. We will set the default to a white space

```
ALTER TABLE class
ADD COLUMN class_status VARCHAR(10) NOT NULL DEFAULT '';
```

Step 3: Apply the values to the new class\_status variable using the values in the boolean\_class\_status column

```
UPDATE class 
SET class_status = '1' 
WHERE boolean_class_status = 'Active';

UPDATE class 
SET mail_notification = '0' 
WHERE boolean_class_status = 'Inactive';
```

In three steps we have overcome the boolean casting limitation. This example will not work in out database as we have not entered any data yet. That comes in the next module. However, I wanted you to see that you can overcome certain limitation in the system with a bit of ingenuity.

So, in preparation for entering data into the table, let's set the default value for this field to 1, then we can come back later and use the above method to change the column after we insert data into the table.

### Step 5: Set the default value of the class\_status column to be '0' so that all classes are inactive unless otherwise indicated.

## RENAME COLUMN

### Step 5: Change the name of table columns to reflect more accurately. The RENAME COLUMN syntax is provided below.

```sql
ALTER TABLE [table_name]
RENAME [column] TO [column_name];
```

Rename all columns in the student table to contain the prefix 'stud_'.

## SET DEFAULT

### Step 6: Set the default value for a column using the below table. The SET DEFAULT syntax is provided below.

```sql
ALTER TABLE [table_name]
ALTER COLUMN [column_name]
SET DEFAULT [value];
```

Table|Column|Value
:---|:---:|---:
class|class_meet_days|'M','T','W','TH','F'
student|stud_honors|'0'

## ADD CONSTRAINT

### Step 7: Add table foreign key constraints. The ADD CONSTRAINT syntax is provided below.

```
ALTER TABLE [table_name]
ADD CONSTRAINT [constrsint_name] 
FOREIGN KEY (foreign_key column)
REFERENCES [table_name](table_primary_key_column);
```

Add a foreign key constraint to the following tables and columns.

| Table | Column | Reference |
| --- | --- | --- |
| class | class\_professor | faculty.fac\_id |
| degree | deg\_school\_id | school.school\_id |
| degree | deg\_prog\_id | prog\_id |
| faculty | fac\_school\_id | school.school\_id |
| faculty | fac\_program\_id | program.prog\_id |
| program | prog\_school\_id | school.school\_id |
| program | prog\_director\_id | faculty.fac\_id |
| school | school\_director\_id | faculty.fac\_id |
| student | stud\_academic\_lvl | acad\_lvl.acad\_id |
| student | stud\_program\_id | program.prog\_id |
| student | stud\_school\_id | school.school\_id |
| student | stud\_degree\_id | degree.deg\_id |
| term\_class | term\_id | term.term\_id |
| term\_class | class\_id | class.class\_id |
| term\_class | fac\_id | faculty.fac\_id |
| term\_people | term\_id | term.term\_id |
| term\_people | class\_id | class.class\_id |
| term\_people | fac\_id | faculty.fac\_id |

HINT: copy the contents of this table and paste it into the code cell below. Then all you need to do it type your keywords and format the query. It saves a lot of time.

If you refresh your Connection tree you should see the constraints showing under the Constraints folder of each table. It may take a bit for them to show on the tree, but they are there.

## CHECK

### Step 8: Use the CHECK argument to create limiting conditions on data entered into column. The CHECK argument syntax is provided below.

```
ALTER TABLE [table_name]
ADD CONSTRAINT [constraint_name]
CHECK ([column or value] [operand conditions] [column or value]);
```

Create a limitation on the class size in the class\_size column of the class table. Set the limit so that no class contains greater than 20 people.

## UNIQUE

### Step 8: Create a unique constraint on columns within a table. The UNIQUE syntax is provided below.

```
ALTER TABLE [table_name]
ADD CONSTRAINT [constraint_name]
UNIQUE (column_name);
```

Add a unique constraint to the student and faculty email address columns

## RENAME

### Step 10: Rename a table or column to better represent its true value and to conform with pragramming standards. The RENAME arguent syntax is provided below.

```
ALTER TABLE [table_name]
RENAME TO [new_table_name];

ALTER TABLE [table_name]
RENAME COLUMN [column_name] TO [new_column_name];
```

1. The 'class' table is representative of its contents, but is also a reserved word in PosrgreSQL. Rename the 'class' table to 'course' to continue to reflect its true nature but remove the reserved word from the table. HINT: You will also need to rename all columns.
    
2. Rename the 'stud\_credit\_hrs' column in the 'student' table to 'stud\_credits'.