# Module 5, Lecture 5.2

## **Updating Data in PostgreSQL Tables (UPDATE)**

### <span style="font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, sans-serif;">Step 1: Some PostgreSQL operations are two part operations. Some can be combined. The DEFAULT setting for the Course table has the days of the week set to '(M,T,W,TH,F)'. We want to remove the parentheses and update the current values stored from the DEFAULT on the course_meet_days column to match the desired output of the new DEFAULT setting.</span>  

Edit the course table to make the DEFAULT for the course\_meet\_days column to read 'MTWTHF'.

Update the current values stored in the course table to match the new DEFAULT value.

course_id,course_name,course_code,course_num,course_status,course_size,course_meet_days,course_professor,meet_room
5,Intro to ERM,ACSC,410,yes,NULL,MTWTHF,2,210
6,Data Structures,COSC,350,No,NULL,MTWTHF,2,Onl
8,History of Int Des,ADAH,202,Yes,10,MTWTHF,6,231
9,Ethical Hacking,ISYS,470,Yes,NULL,MTWTHF,1,Onl
10,Princ of Game Des,ADIN,300,yes,7,MTWTHF,4,Onl
11,Police Academy,CRIM,494,Yes,NULL,MTWTHF,5,Anx

Step 2: Insert a new course into the course table using the below information. Be sure to return the result and evalaute if the new DEFAULT matches the string 'MTWTHF'. Be sure to critically analyze what you are trying to accomplish and choose the best method to update.

| Course ID | Course Name | Course Code | Course Num | Status | Size | Meeting Days | Professor | Room |
| :-: | :-- | :-: | :-: | :-- | :-: | :-: | :-: | :-: |
| 12 | Advanced R | DSCI | 510 | Active | 18 |  | 1 | Onl |

Column1
1

course_id,course_name,course_code,course_num,course_status,course_size,course_meet_days,course_professor,meet_room
12,Advanced R,DSCI,510,Yes,18,MTWTHF,1,Onl

Step 3: Update any Faculty Number that is missing. The Faculty Number is derived from the first two letters of the first and last name and a random four-digit number. We have not covered string formatting or functions, so assistance if provided below.

Copy the below code into a new code cell and fill in the blanks for the UPDATE statement:

```SQL
WITH sub AS (
    SELECT 
        substring(UPPER(fac_first_name),1,2) as a
        ,substring(UPPER(fac_last_name),1,2) as b 
        ,floor(1000 + random() * 9999) as c 
    FROM faculty
    WHERE fac_num IS NULL
)
UPDATE _______
SET ______ = concat(sub.a, sub.b,sub.c)
FROM _____
WHERE ________ IS NULL
RETURNING fac_num;
```

fac_num
KESA2082

In the above example, we use a CTE to query the faculty table and manipulate the first and last name. We then generate the four digit number in the same table to store it in the CTEs temp output. We then reference the aliased columns in the CTE and concatenate them in the fac\_num column where the fac\_num is NULL. The same condition is used in both instances since we are only focused on updating the NULL fac\_num rows. We will cover this more later weeks, but I wanted you to see how versatile the UPDATE statement is.

Step 4: Using the above methodology, create email addresses for all students in the Student table. Use the following logic:

> ```
> The student email address should use the first letter of the first name and the first 6 letters of the last name. All student school email addresses will be in the 'college.edu' domain.
> ```

If you remember when we altered the student table we created a unique constraint on the email column. This will need to be removed before procedding with the update.

stud_email
jbaker@college.edu
erawlin@college.edu
srodrig@college.edu
tmagnus@college.edu
atanner@college.edu
cmusgra@college.edu

In the case above the CTE creates the email addresses based on the stud\_id not being null. This just ensures referential integrity. All email addresses are null at the start of the CTE. The initial CTE output is shown below

stud_id,a,b,c
1,j,baker,@college.edu
2,e,rawlin,@college.edu
3,s,rodrig,@college.edu
4,t,magnus,@college.edu
5,a,tanner,@college.edu
6,c,musgra,@college.edu

The remainder of the query simply concatenates the CTE results for each row and updates the table by inserting the email address in the correct row. We can check the email addresses against the student table below.

stud_id,stud_first_name,stud_last_name,stud_email
1,Jamal,Baker,jbaker@college.edu
2,Elizabeth,Rawlings,erawlin@college.edu
3,Sarah,Rodriguex,srodrig@college.edu
4,Thor,Magnussen,tmagnus@college.edu
5,Angela,Tanner,atanner@college.edu
6,Cynthia,Musgrave,cmusgra@college.edu

Step 4: Update Sarah Rodriguez's name to reflect the correct spelling

stud_id,stud_num,stud_last_name,stud_first_name,stud_city,stud_state,stud_zip,stud_birth_date,stud_start_semester,stud_enrolled,stud_honors,stud_gpa,stud_credit_hrs,stud_academic_lvl,stud_program_id,stud_school_id,stud_degree_id,stud_email
3,BAJA4201,Rodriguez,Sarah,Bastrop,TX,76109,1992-12-16,194,True,True,3.90,42,1,4,3,5,srodrig@college.edu

Step 5: Disenroll all students who live in Texas from school

Column1
1

Step 6: The following students have decided on their majors. Update the major for each student in the student table.

| Student | Degree |
| :-- | :-: |
| Magnussen | 1 |
| Tanner | 1 |
| Musgrave | 2 |

stud_id,stud_num,stud_last_name,stud_first_name,stud_city,stud_state,stud_zip,stud_birth_date,stud_start_semester,stud_enrolled,stud_honors,stud_gpa,stud_credit_hrs,stud_academic_lvl,stud_program_id,stud_school_id,stud_degree_id,stud_email
4,THMA7205,Magnussen,Thor,Atlanta,GA,30334,1981-05-01,192,True,False,2.97,12,1,8,4,1,tmagnus@college.edu

stud_id,stud_num,stud_last_name,stud_first_name,stud_city,stud_state,stud_zip,stud_birth_date,stud_start_semester,stud_enrolled,stud_honors,stud_gpa,stud_credit_hrs,stud_academic_lvl,stud_program_id,stud_school_id,stud_degree_id,stud_email
5,ANTA7443,Tanner,Angela,Washington,DC,20001,1987-09-13,201,True,True,3.98,16,2,10,2,1,atanner@college.edu

stud_id,stud_num,stud_last_name,stud_first_name,stud_city,stud_state,stud_zip,stud_birth_date,stud_start_semester,stud_enrolled,stud_honors,stud_gpa,stud_credit_hrs,stud_academic_lvl,stud_program_id,stud_school_id,stud_degree_id,stud_email
6,CYMU0018,Musgrave,Cynthia,Detroit,MI,48127,1974-02-13,191,False,False,3.14,27,1,7,5,2,cmusgra@college.edu

Step 7: Due to COVID-19, all courses have been transitioned to online. Update the course table to reflect the room as 'Onl' and the meeting dats as DEFAULT for all courses that are currently active and not online.

course_id,course_name,course_code,course_num,course_status,course_size,course_meet_days,course_professor,meet_room
4,Early Childhood Education,EDUC,204,Yes,20,MTWTHF,3,Onl
7,Database Design,ISYS,307,Yes,15,MTWTHF,1,Onl
8,History of Int Des,ADAH,202,Yes,10,MTWTHF,6,Onl
11,Police Academy,CRIM,494,Yes,NULL,MTWTHF,5,Onl

Step 8: With the transition to online learning, three instructors have graciously decided to accept the max number of students (20) into their classes. Update the course table to reflect this for Mr. Jones, Ms. Smith, and Ms. Sanders. Display the results of the course updates, the number of seats apportioned, and the professor's ID.

course_id,course_size,course_professor
1,20,1
2,20,2
9,20,1
12,20,1
7,20,1
11,20,5