# Lecture 7.1 The SELECT Query
## Part 1: Load additional data into the University database.
Step 1: Upload the new\_student.csv file into the unitversity database's student table.
Step 2: Upload the new\_term.csv file to the univeristy database's term table.
Step 3: Upload the new\_term\_class.csv file to the university database's term\_class table.
Step 4: Upload the new\_term\_people.csc file to teh university database's term\_people table.
  
NOTE: Based on the primary key constraints on the term, term\_class, and term\_people tables, you may need to drop the constraints when adding the data. This will not affect the use of the tables.

## Part 2: Use Basic SELECT Queries

### Step 1: Select the active faculty from the faculty table. The layout should match the table headers below. Sort your results alphabetically by faculty last name.

| Faculty ID | Faculty Number | Faculty Last Name, First Name | Faculty Status | Faculty Phone | Faculty Email |
| --- | --- | --- | --- | --- | --- |

<br>
<br>
Hint: You will need to use the concat() function to join the first and last name. Search the PostgreSQL documentation to identify the correct usage of this function. We will cover this more in later weeks.

How many cells were returned?
  
What is one error noticed in the results?

Step 2: Update Mr. Johnson (fac\_id = 4) Phone Number to read 872-919-4640. Be sure to return the row of data to confirm the number is changed.

Step 3: Select all student data for all graduate students

How many graduate students are there in the database?
  
What two errors are present in the data?

Step 4: Return the first and last name, state, and GPA of the students with the four highest GPAs in the database. be sure to include any ties for the 5th highest GPA.

Step 5: Write a new query to identify how many of these students are in Honors standing. To do this uese the count() function as your column. You can either use count(\*) or count(stud\_honors).

How many students were in Honors standing?

Step 6: Write a query to see which student in the top 5 GPAs are not in honors standing

What is the GPA of the student in the top five GPAs who is not in honors standing?

## Part 3: An Introduction to GROUP BY and HAVING using basic aggregates

### While we will cover aggregates in detail next week, we will use a few basic aggregates to practice using the GROUP BY and HAVING clause.

### Step 1: Write a query to calculate the total number of credit hours of all students in the Data Science Program using the data columns indicated below. You may need to do a query of the program table to find the program number first. Sort the data in descending order.

Your output should match the below table
<br>

| Student Home State | Total Credit Hours |
| --- | --- |
| [State] | [Credit Hours]

<br>
<br>

What state has the highest credit hours in the Data Science Program?

Step 2: Find which student has taken the most terms at the University

Which student has the most terms?

Step 3: Write a query to find out the student name and the start date of the student from Step 2 above.

Based on the result of the above query, what is your assessment of this student's attendance? Looking at their start semester, what can we assume?

Step 4: Find out what the two most recent class dates from 2020 are in the database. Be sure to limit your response to two rows. Your output should look like the table below. You may need to use the extract() function we used above to complete this query. 

| Class ID | FAC ID | Newest 2020 Classes |
| --- | --- | --- |
| 3 | 2 | 2020-11-12 |
| 9 | 5 | 2020-08-02 |

Which constraints did you use to get the two rows above?

## Part 4: Using the DISTINCT and DISTINCT ON keywords

### Step 1: Select the DISTINCT courses listed in the database

### Step 2: Select the DISTINCT program names in the database

### Step 3: Select all students in the student table and take note of the number of rows returned.

Now select the distinct students on their last name with all data and evaluate the difference in rows returned.

Why do you think the DISTINCT ON keyword does this when used?