# DSCI 503 - Homework 07

### Seif Kungulio

In [2]:
# Import necessary packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

## Problem 1: NYC Restaurants Dataset

In [4]:
# Load the dataset
nyc = pd.read_csv('nyc.txt', delimiter='\t')

# Displaying the first 10 rows of the DataFrame
nyc.head(10)

   Price  Food  Decor  Service  Wait  East
0     43    22     18       20    36     0
1     32    20     19       19    22     0
2     34    21     13       18    20     0
3     41    20     20       17    25     0
4     54    24     19       21    32     0
5     52    22     22       21    15     0
6     34    22     16       21    25     0
7     34    20     18       21    21     1
8     39    22     19       22    23     1
9     44    21     17       19    27     1

In [5]:
# Creating feature and label arrays
X1 = nyc[['Food', 'Decor', 'Service', 'Wait', 'East']].values
y1 = nyc['Price'].values

# Splitting the data into training and testing sets
X_train_1, X_test_1, y_train_1, y_test_1 = train_test_split(X1, y1, test_size=0.2, random_state=1)

# Printing the shapes of training and testing sets
print(f"Training Features Shape: {X_train_1.shape}")
print(f"Test Features Shape: {X_test_1.shape}")

Training Features Shape: (134, 5)
Test Features Shape: (34, 5)

In [6]:
# Creating and fitting the linear regression model
nyc_mod = LinearRegression()
nyc_mod.fit(X_train_1, y_train_1)

# Displaying intercept and coefficients
print(f"Intercept: {nyc_mod.intercept_}")
print(f"Coefficients: {nyc_mod.coef_}")

Intercept: -23.755435322488836
Coefficients: [ 1.55693926  2.00700907 -0.25440527  0.09203064  2.63235537]

In [7]:
# Calculating r-squared scores
train_r2 = nyc_mod.score(X_train_1, y_train_1)
test_r2 = nyc_mod.score(X_test_1, y_test_1)
print(f"Training r-Squared: {train_r2:.4f}")
print(f"Testing r-Squared: {test_r2:.4f}")

Training r-Squared: 0.6306
Testing r-Squared: 0.6245

In [8]:
# Generating predictions for the test set
test_pred_1 = nyc_mod.predict(X_test_1)

# Displaying observed and estimated prices for the first 10 entries
print(f"Observed Prices: {y_test_1[:10]}")
print(f"Estimated Prices: {test_pred_1[:10].round(2)}")

Observed Prices: [33 45 54 38 22 47 38 51 46 47]
Estimated Prices: [39.2  38.09 49.35 39.26 19.72 47.4  36.85 50.07 48.26 43.01]

In [9]:
# Creating a DataFrame for new restaurant data
nyc_new = pd.DataFrame({
    'Food': [22, 18, 25],
    'Decor': [12, 19, 22],
    'Service': [20, 22, 18],
    'Wait': [15, 34, 36],
    'East': [0, 1, 0]
})

# Predicting prices for new restaurant data
new_pred_1 = nyc_mod.predict(nyc_new)

# Displaying estimated prices for new restaurants
print(f"Estimated Prices: {new_pred_1.round(2)}")

Estimated Prices: [30.87 42.57 58.06]

/opt/anaconda3/lib/python3.11/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  warnings.warn(

## Problem 2: Diamonds Dataset

## Problem 3: Heart Disease Dataset

## Problem 4: Gapminder Dataset