# DSCI 504

## Week 2: Building the OPC Database

### Student Name: [Replace these brackets with your name]

Assignment Objectives:

1. Build a database schema
2. Build database tables
3. Identify and establish Primary and Foreign Keys
4. Identify and establish key table Constraints
5. Import data into PostgreSQL
6. Query a table

**Step 1: Create a new schema named 'dsci\_504'.**

In [ ]:
--Enter your SQL code here

**STEP 2: Create the necessary tables identified in the Assignemt 2 Table Structure document located in Canvas. Use a new code cell for each table.**

In [ ]:
--Enter your SQL code here. Use a single cell for each table/task. Do not enter all tables in one cell. It will be harder to troublsehoot errors.

**Step 3: Import the data into the OPC tables in PostgreSQL. Use a new code cell for each file.**

In [ ]:
--Enter your SQL code here.

**Step 4: Execute a simple query on each table to verify the data in each table. Do not worry about missing data at this point. Limit your output to 10 lines using the following query syntax:**

```
SELECT * FROM [schema.table]LIMIT 5;

```

**Step 5: Create primary keys within each of the newly created tables to elevate the database to 2NF. Some tables already have unique key columns that simply need to be identified as a Primary Key. (If you did this above when building the tables, simply run the below query for each table).Others may require a new column to do this. Run the below query after each table to validate the contstraints are placed on the tables.**

```

SELECT con.*
    FROM pg_catalog.pg_constraint con
        INNER JOIN pg_catalog.pg_class rel ON rel.oid = con.conrelid
        INNER JOIN pg_catalog.pg_namespace nsp ON nsp.oid = connamespace
        WHERE nsp.nspname = '{schema name}'
             AND rel.relname = '{table name}';

```

**Step 6: CREATE foreign key associations for each table to elevate the database to 3NF. These should be done within each respective table. If this was completed above, note so and move on to Step 7.**

In [ ]:
--Enter your SQL code here

**Step 7: Execute two queries of your choosing on two different tables in the database.**

In [ ]:
--Enter SQL code here

In [ ]:
--Enter SQL code here