# DSCI 504

## Week 3

### Assignment: Selecting OPC Data for Review (Basic Queries)

### Student Name: SEIF KUNGULIO

<u>How to complete this assignment:</u> This Notebook has two types of cells, text, and code. Cell marked with **_Do not mark in this cell_** are not to be edited. Other text cells that require answers or typing may be edited by double-clicking on the cell and editing. Clicking off of the cell saves the text. Code cells are where you will enter in your SQL code. The results of your query will be displayed immediately beneath your code cell and are interactive. For full credit, you must write, execute, and save your code in your Notebook. The last cell of the Notebook has instructions for saving the Notebook as an html file for submission.

**_Do not mark in this cell_**

### Assignment Objective: At the end of this assignment, you will be able to conduct queries on single tables within the OPC database, to include unary table self-joins.

Scenario: You have been tasked with doing a data quality check for customers who share the same city...Â 

### 3.1 Question: Write a query using **only** the _customers_ table in the OPC database that returns **all** customers that share the **same** _customer city_. To qualify, <u>a city must be shared by more than one customer.</u>

#### Note: To answer this question you may need to use a self-join on a single table. We cover joins in Week 5, so I am including the wireframe for a self-join below for you to use as a reference.

<code>SELECT t1.col1 AS "Name 1",  
t1.col2 as "Name 2",`
t1.col as "Another Column"
FROM table t1  
JOIN table t2  
ON t1.col = t2.col  
AND t1.id <> t2.id  
ORDER BY t1.col1, t1.col2;</code>

In [ ]:
SELECT 
    CONCAT(c1.cus_first_name, ' ', c1.cus_last_name) AS "Customer 1",
    CONCAT(c2.cus_first_name, ' ', c2.cus_last_name) AS "Customer 2",
    c1.cus_city AS "Shared City"
FROM 
    dsci_504.customers c1
JOIN 
    dsci_504.customers c2
    ON c1.cus_city = c2.cus_city
    AND c1.cus_id <> c2.cus_id
ORDER BY 
    c1.cus_city, c1.cus_first_name, c2.cus_first_name;

Scenario: You have been tasked with identifying products that may have the exact same product price...

### 3.2 Question: Write a query that returns <b>all</b> <em>products</em> that share the <b>same</b> <em>product price</em>.

#### Note: You may need to use the self-query template from above to assist in answering this question

In [ ]:
-- Identify pairs of products from the same table that share the exact same price, using a self-join.
SELECT 
    p1.prod_name AS "Product 1",
    p2.prod_name AS "Product 2",
    p1.prod_price AS "Shared Price"
FROM dsci_504.products p1
JOIN dsci_504.products p2
    ON p1.prod_price = p2.prod_price
    AND p1.prod_id <> p2.prod_id
ORDER BY p1.prod_price, p1.prod_name, p2.prod_name;

Scenario: You have been finding orders that do not have a ship date...

### 3.3 Question: Write a query that returns <b>all</b> <em>orders</em> where the <em>shipping date</em> is <b>NULL</b>.

In [ ]:
SELECT *
FROM dsci_504.orders
WHERE ord_ship_date IS NULL;

Scenario: You have been tasked with identifying if any orders have tracking numbers that appear in more than one order...

### 3.4 Question: Write a query that returns the count of <em>order tracking numbers</em> where the <em>order tracking number</em> has a count <b>Greater than 1</b>.

In [ ]:
SELECT ord_track_num, COUNT(*) AS tracking_count
FROM dsci_504.orders
GROUP BY ord_track_num
HAVING COUNT(*) > 1;

Scenario: You have been finding build names that may sell well due to association with the movies Star Wars and Star Trek...

### 3.5 Question: Write a query that returns <b>all</b> <em>build names</em> where the <em>build name</em> contains the word <b>star</b>.

In [ ]:
SELECT build_name
FROM dsci_504.builds
WHERE build_name LIKE '%star%';

Scenario: You have been tasked with finding our how many hardtail products OPC currently produces...

### 3.6 Question: Write a query that returns the count of <b>all</b> <em>products</em> where the <em>product description</em> is <b>Hardtail</b>. Do not use a SELECT *. Choose two meaningful columns from the <em>products</em> table to display.

In [ ]:
SELECT prod_name, prod_description, COUNT(prod_name) AS hardtail_count
FROM dsci_504.products
WHERE prod_description LIKE '%Hardtail%'
GROUP BY prod_name, prod_description;

Scenario: You have tasked with finding out how many customers are from each state...

### 3.7 Question: Write a query that returns the <em>count</em> of <b>all</b> <em>customers</em> from each <em>state</em> in the <em>customers</em> table. Be sure to order by the state with the highest number of customers first.

In [37]:
SELECT state_id, COUNT(*) AS customer_count
FROM dsci_504.customers
GROUP BY state_id
ORDER BY customer_count DESC;

Scenario: You want to know what state has the highest customer count...

### 3.7a Question: Write a query that returns the <em>state</em> with the <em>id</em> from the query above.

In [38]:
SELECT c.state_id, s.state, COUNT(*) AS customer_count
FROM dsci_504.customers c
JOIN dsci_504.states s ON c.state_id = s.state_id
GROUP BY c.state_id, s.state
ORDER BY customer_count DESC;

Scenario: You have been tasked with finding all orders placed in a specific date range...

### 3.8 Question: Write a query that returns <b>all</b> <em>orders</em> placed in <b>March 2019</b>.

In [39]:
SELECT *
FROM dsci_504.orders
WHERE ord_date >= '2019-03-01'
  AND ord_date < '2019-04-01';

Scenario: You have been tasked with finding all customers whom joined in a specific date range...

### 3.9 Question: Write a query that returns <b>all</b> <em>customers</em> whom joined between <b>Sept 1 2001</b> and <b>Sept 30 2001</b>.

In [40]:
SELECT *
FROM dsci_504.customers
WHERE cus_join_date >= '2001-09-01'
  AND cus_join_date <= '2001-09-30';

### 3.10 Write your own query on a single table that identifies a piece of infroamtion that peaks your interest.

In [43]:
SELECT ord_date, COUNT(*) AS total_orders
FROM dsci_504.orders
GROUP BY ord_date
ORDER BY total_orders DESC
LIMIT 5;

## Testing your Knowledge

Answer the following questions:

#### 1\. Do you think the self-join you created in 3.1 assists in answering any valuable questions about how many cities have more than one customer? Why might this not be an optimal query

The self-join query is effective for identifying pairs of customers who live in the same city. By joining the **customers** table to itself on the \`cus\_city\` field and excluding matches with identical customer IDs, it highlights customer pairs sharing the same location. This is useful for answering questions like, "Which customers are from the same city?" or "What customer pairs exist by city?"

<span style="color: var(--vscode-foreground);">However, this approach is not ideal for determining how many cities have more than one customer. The self-join generates multiple rows for each pair, which can lead to unnecessary complexity and potential overcounting. For instance, if three customers are from the same city, the query produces three pairings (A-B, A-C, B-C), complicating a straightforward count.</span>  

<span style="color: var(--vscode-foreground);">A more efficient method is to use a <b>GROUP BY</b> query with a <b>HAVING</b> clause. This groups customers by city, counts how many are in each group, and filters out cities with only one customer. The result is a cleaner, more accurate, and scalable way to identify cities with multiple customers.</span>  

<span style="color: var(--vscode-foreground);">In conclusion, while the self-join query is useful for analyzing relationships between customers in the same city, it is not well-suited for counting cities with more than one customer. For that purpose, aggregation using <b>GROUP BY</b>&nbsp;and <b>HAVING</b>&nbsp;provides a more effective solution.</span>  

#### 2\. What product price was shared by the most products in 3.2? How would you recommend reviewing additiona information about these products?

\[ answer here \]

#### 3\. Did 3.3 return any data? Is it common for a query to return nothing? What benefit may asking this type of a question have for an analyst?

\[ answer here \]

#### 4\. Where there any tracking numbers that appeared more than once in 3.4? Is this type of query useful in detecting duplicates? Did you go through any other tables and try to find duplicates? Why might you not find any in core tables?

\[ answer here \]

#### 5\. Go back and look at 3.9. You may need to run some additional queries to expand further into teh rabbit hole, but find two to four customers in the query results in 3.9 that may or may not be family. Is there anything unique about these customers? If so, what might it be?

## Assignment Takeaway
### <b>Summarize this week's assignment in your own words and identify what you think you learned? Was it valuable? What can be improved?</b>
[ answer here ]

Copy the below code into a new Code cell and change the _Kernel_ above to _Python 3_. This will generate an html file of this Notebook in your current folder for submission. Submit the html file in Canvas.

#### Note: You may need to install the kernel. If you system already has one, ADS will find it. Click Next, then Install. The Output will display below. Once done, you will see "Jupyter is running at [http://localhost:8888/..."](http://localhost:8888/...&quot;) This only needs to be done once.

#### When you run the below code, if you see:

\[NbConvertApp\] Converting notebook DSCI504\_Wk2\_Ass1\_SimpleQueries.ipynb to html  
\[NbConvertApp\] Writing 570001 bytes to DSCI504\_Wk2\_Ass1\_SimpleQueries.html

#### then you successfully saved your file to html and it will be in the current folder where your assignment file is located.

`!jupyter nbconvert --to html DSCI504_Wk2_Ass1_SimpleQueries_Key.ipynb`

In [ ]:
!jupyter nbconvert --to html DSCI504_Wk2_Ass1_SimpleQueries_Key.ipynb